@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  width: 90%;
  margin: 0 50px;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

.headsect,
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {
    font-size: 24px;
    color: #faf9f8;
    flex-shrink: 0;
    padding: 16px;
}

.headerlnks {
    font-size: 18px;
}

.headerlnks ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.headerlnks a {
    text-decoration: none;
    color: #e5e7eb;
}

.headercntr {
    display: flex;
    padding-bottom: 2%;
}

.left {
    width: 50%;
    margin: 0 16px;
    padding: 0;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.left h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0%;
}

.left p {
    margin: 0;
}

.left button {
    background-color: #3882f6;
    border-radius: 8px;
    width: 25%;
    padding: 2% 2%;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 60%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 16px;
}

.infotitle {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}

.infocntr {
    display: flex;
    justify-content: center;
}

.infocards {
    width: 20%;
    align-items: center;
}

.infocards img {
    width: 80%;
    border: solid;
    border-color:  #3882f6;
    border-radius: 16px;
}

.infotext {
    width: 80%;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 10%;
    padding: 3%;
}

.quotetxt {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.quotefrm {
    text-align: right;
    font-weight: bold;
    font-size: 36px;
}

.action {
    display: flex;
    margin: 0 5%;
    padding: 5%;
    justify-content: center;
}

.actioncntr {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 5%;
    border-radius: 10px;
}

.action button {
    background-color: #3882f6;
    border-color: #f9faf8;
    border-width: medium;
    border-radius: 16px;
    color: #faf9f8;
    font-weight: bold;
    width: 15%;
    padding: 2% 2%;
}

.actionttle {
    font-weight: bold;
    font-size: 36px;
    color: #f9faf8;
}

.actiondesc {
    color: #faf9f8;
}

.footertxt {
    color: #e5e7eb;
    padding: 2% 5%;
    text-align: center;
}
